<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat app</title>
</head>

<body>
    
    <h1>{{currentUser.username}}</h1>
    <div class="text-center">
        <button type="button" class="btn btn-primary btn-block mt-4" (click)="logout()">Logout</button>
    </div>
    <div>
        <button type="button" class="btn btn-primary btn-block mb-4" (click)="getRegisteredUsers()">List of registered
            users</button>
    </div>
    <div>
        <table *ngIf="users?.length">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of users">
                    <td>{{u.username}}</td>
                    <td>{{u.password}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <button type="button" class="btn btn-primary btn-block mb-4" (click)="getLoggedinUsers()">List of loggedin
            users</button>
    </div>
    <div>
        <table *ngIf="loggedinUsers?.length">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of loggedinUsers">
                    <td>{{u.username}}</td>
                    <td>{{u.password}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <button type="button" class="btn btn-primary btn-block mb-4" (click)="getMessages()">Messages</button>
    </div>
    <div>
        <table *ngIf="messages?.length" class="table"  style="width: 50%">
            <thead>
                <tr>
                    <th style="width: 25%">Sender</th>
                    <th style="width: 25%">Date</th>
                    <th style="width: 25%">Subject</th>
                    <th style="width: 25%">Content</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let m of messages">
                    <td>{{m.receiver.username}}</td>
                    <td>{{pipe.transform(m.date, 'dd/MM/yyyy | HH:mm:ss')}}</td>
                    <td>{{m.subject}}</td>
                    <td>{{m.content}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div>
        <table>
            <tr>
                <td>Receiver:</td>
                <td><input type="text" [(ngModel)]="message.receiver.username"></td>
            </tr>
            <tr>
                <td>Subject:</td>
                <td><input type="text" [(ngModel)]="message.subject"></td>
            </tr>
            <tr>
                <td>Content:</td>
                <td><input type="text" [(ngModel)]="message.content"></td>
            </tr>
            <br>
            <tr>
                <td><button type="button" class="btn btn-primary" (click)="send()">Send</button></td>
                <td><button type="button" class="btn btn-primary" (click)="sendToAll()">Send to all</button></td>
            </tr>
        </table>
    </div>

</body>

</html>