<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <div class=" d-flex justify-content-center">
        
        <form class="w-25 mt-5">
            <h1>Welcome</h1>
            <br><br>
            <!-- Username input -->
            <div class="form-outline mb-4">
                <input name="username" type="username" id="username" class="form-control" [(ngModel)]="user.username"/>
                <label class="form-label" for="username">Username</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <input name="password" type="password" id="password" class="form-control"  [(ngModel)]="user.password"/>
                <label class="form-label" for="password">Password</label>
            </div>

            <!-- Submit button -->
            <div class="row">
                <button type="button" class="btn btn-primary btn-block mb-4" (click)="register()">Register</button>
                <br>
                <button type="button" class="btn btn-primary btn-block mb-4" (click)="login()">Login</button>
                <br>
                <button type="button" class="btn btn-primary btn-block mb-4" (click)="getRegisteredUsers()">List of registered users</button>
            </div>

            <div>
                <table *ngIf="users?.length">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Password</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let u of users"><td>{{u.username}}</td><td>{{u.password}}</td></tr>
                        </tbody>
                </table>
            </div>
        </form>
    </div>
</body>

</html>